/************************ global css *************************/
body {
}
/***********************css for the brand logo *******************/
.brand {
  background-color: #C5161D;
  height: 91px;
}
.logo {
  width: 59%;
  height: 100%;
  color: #FFFFFF;
}
.lanVersion {
  color: #FFFFFF;
  margin-top: 30px;
  float: right ;
}
.lanVersion a{
  color: #FFFFFF;
  font-size: 14px;
}

/***********************css for the navigation bar*******************/
.navbar-default {
  background-color: #2C2C2C;
  /*border-top: 1px solid #4C4C4C;*/
  border-bottom: 1px solid #2C2C2C;
}
.nav li a:hover {
  background-color: #024585 !important;
}
.myNav a{
  background-color: #2C2C2C;
  color: #FFFFFF !important;
  font-weight: 500;
  font-size: 14px;
}
.navbar-nav li a {
  /*padding-top: 10px;*/
  /*padding-bottom: 10px;*/
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}
.active a {
  color: #FFFFFF !important;
  background-color: #024585 !important;
  font-weight: 500;
  font-size: 14px;
}
.nav .active a:hover {
  color: #FFFFFF !important;
}
.navbar-header {
  max-height: 85px;
}
/********************************css for carousel ****************************/
.carousel {
  margin-top: -20px;
}
.expand {
  max-width: 1180px !important;
}


/****************************** css for the body content ***********************/
.logo_title {
  font-size: 45px;
}
.logo_wrapper {
  border: 1px solid #DDDDDD;
  padding: 5px;
  background-color: #FFFFFF;
}
.cpa_logo {
  border: 1px solid #DDDDDD;
  padding: 5px;
  width: 350px;
  height: 170px;
  background-color: #FFFFFF;
}
.white {
  background-color: #FFFFFF;
  padding-top: 10px;  
}

.flag {
  background-color: #AF2027;
  color: #FFFFFF;
  padding: 10px;
}
.innerArrow {
  width: 0;
  height: 0;
  border-left: 15px solid #FFFFFF;
  border-right: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-top: 10px solid transparent;
  margin: -9px auto 0 auto;
  margin-top: 18px;
}

.myImage:hover{
  opacity: 0.8;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}
/************************* css for the footer *******************************/
.footer {
  background-color:#AF2222;
  /*padding-top: 10px;*/
  color: #FFFFFF;
  border-top: #2C2C2C 1px solid;
  margin-top: 50px;
  /*padding-bottom: 10px;*/
}
.footer a {
  font-size: 14px;
  color: #FFFFFF;
}
.space {
  padding-left: 50px;
}
.qrCode {
  width: 100px;
  height: 100px;
}
.footer-bottom {
  background-color: #2C2C2C;
  color: #FFFFFF;
  padding-top: 20px;
  padding-bottom: 5px;
}
.move-up {
  margin-top: -7px;
}
.row {
  width: 100%;
}
#map_canvas {
  width: 100%;
  height: 300px;
  background-color: #CCC;
}



