/************************ global css *************************/
body {
  /*background-color: #C20F16; */
}
/***********************css for the navigation bar*******************/
.navbar-default {
  background-color: #C2081E;
  /*border-bottom-color: #272821;*/
  border-bottom-color: #D44134;
}
.nav {
  padding-top: 25px;
}
.nav li a:hover {
  background-color: #690800 !important;
}
.myNav a{
  color: #FFFFFF !important;
  font-weight: 500;
  font-size: 14px;
}
.navbar-nav li a {
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}
.active a {
  color: #000000 !important;
  background-color: #FFFFFF !important;
  font-weight: 500;
  font-size: 14px;
}
.active a:hover {
  color: #FFFFFF !important;
}

.navbar-brand {
  padding-top: 7px;
  /*margin-top: 15px;*/
}
.navbar-header {
  max-height: 85px;
}
/********************************css for carousel ****************************/
.carousel {
  margin-top: -80px;
}
.expand {
  max-width: 1180px !important;
}


/****************************** css for the body content ***********************/
.myh3 {
  color: rgb(100, 100, 100);
  font-weight: 300;
  font-style: italic;
  font-size: 27px;
  padding-bottom: 0px;
  display: inline-block;
  margin: 0;
}

.white {
  background-color: #FFFFFF;
  padding-top: 10px;  
}

.myImage:hover{
  opacity: 0.8;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}

/************************* css for the footer *******************************/
.footer {
  background-color:#C20F16;
  padding-top: 50px;
  color: #FFFFFF;
  border-top: #272821 1px solid;
  margin-top: 30px;
}
.space {
  padding-left: 50px;
}
.footer a {
  color:#FBCE0C;
}





