/***********************css for the navigation bar*******************/
.navbar-default {
  background-color: #CE2524;
  border-color: #e7e7e7;
}
.nav {
  padding-top: 30px;
  /*padding-left: 0px;*/
}
.nav li a:hover {
  /*background-color: #E7E7E7 !important;*/
  background-color: #690800 !important;
}
.myNav a{
  /*color: #28180A !important;*/
  color: #FFFFFF !important;
  font-weight: 500;
  font-size: 15px;
}
.active a {
/*  color: #000000 !important;
  background-color: #FFFFFF !important;
*/  
  color: #000000 !important;
  background-color: #FFFFFF !important;
/*  background-image:url('../img/nav_sub_arrow.png') !important;
  background-repeat:no-repeat;
  background-position:center bottom;
*/  
}
.expand {
  max-width: 1240px !important;
}
.navbar-brand {
  padding-top: 0px;
}

/*******************css for carousel*******************/
.carousel {
  margin-top: -80px;
}


.myh3 {
  color: rgb(100, 100, 100);
  font-weight: 300;
  font-style: italic;
  font-size: 27px;
  /*border-bottom: 1px solid #b3b3b3;*/
  padding-bottom: 0px;
  display: inline-block;
  margin: 0;
}

/*css for the footer*/
.footer {
  background-color:#CE2524;
  padding-top: 50px;
  color: #FFFFFF;
}
.space {
  padding-left: 50px;
}
